<div class="hero min-h-screen bg-base-200">
  <div class="flex flex-row gap-24">
    <div class="sm:basis-1/3">
      <div class="flex flex-col justify-center max-w-96 mx-auto">

        <div class="card shadow-2xl bg-base-100 p-8">

          <h1 class="text-2xl font-bold border-b border-gray-400 pb-4 w-full text-center my-8">Inscription</h1>

          <div class="w-full">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input input-sm input-bordered w-full' %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caractères minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class:'input input-sm input-bordered w-full' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input input-sm input-bordered w-full' %>
              </div>

              <div class="actions">
                <%= f.submit "S'inscrire", class: 'btn btn-outline btn-primary btn-lg w-full mt-4 mb-8' %>
              </div>
            <% end %>

          </div>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>

    <div class="hidden sm:block basis-2/3">
      <h1 class="text-4xl text-primary font-black">
        TALEA
      </h1>

      <h2 class="text-3xl mb-12">
        Application de gestion des Interventions
      </h2>

      <h3 class="text-xl text-secondary font-black my-6">
        Une fois votre compte 'Manager' créé, vous pourrez ajouter des comptes utilisateurs pour les Adhérents (Syndics, Clients, etc.) et les Agents (Prestataires, Artisans, etc.).
        <br><br>
        Rappel; une notification sera envoyée aux :
        <br><br>
        <ul class="list-disc list-inside">
          <li>Managers quand un changement de statut a eu lieu</li>
          <li>Adhérents quand une intervention est terminée par un agent</li>
          <li>Agents quand un commentaire est ajouté par un adhérent</li>
        </ul>
      </h3>
    </div>
  </div>
</div>