<tr class="hover">
  <td>
    Il y a <%= time_ago_in_words(audit.created_at) %>
    <br>
    (<%= l(audit.created_at, format: :long) %>)
  </td>
  <td>
    <% if audit.user_id %>
      <% if audit.user %>
        <%= audit.user.email %>
        (#<%= audit.user.id %>)
        <br>
        <%= audit.user.rôle.humanize %>
        <br>
      <% end %>
    <% else %>
      SYSTEM CONSOLE
    <% end %>
  </td>
  <td>
    <%= audit.action.humanize %>
  </td>
  <td class="w-1/2">
    <% unless audit.comment %>
      <%= sanitize prettify(audit).join('<br>') %>
    <% else %>
      <%= audit.comment %>
    <% end %>
  </td>
</tr>
