<div class="btm-nav z-10 shadow-2xl">
  <%= link_to interventions_path, class: "text-primary hover-active hover:shadow #{'active shadow' if params[:controller] == 'interventions'}", title: "Liste des interventions" do %>
    <span class="material-symbols-outlined">
      home
    </span>
  <% end %>

  <% if policy(User).index? %>
    <%= link_to users_path, class: "text-primary hover-active hover:shadow #{'active shadow' if params[:controller] == 'users'}", title: "Liste des utilisateurs" do %>
      <span class="material-symbols-outlined">
        group
      </span>
    <% end %>
  <% end %>

  <%= link_to admin_audits_path, class: "text-primary hover-active hover:shadow #{'active shadow' if params[:controller] == 'admin'}", title: 'Activité (historique des modifications)' do %>
    <span class="material-symbols-outlined">
      history
    </span>
  <% end %>

  <% if policy(MailLog).index? %>
    <%= link_to mail_logs_path, class: "text-primary hover-active hover:shadow #{'active shadow' if params[:controller] == 'mail_logs'}", title: "Mail Logs (historique des mails envoyés)" do %>
      <span class="material-symbols-outlined">
        mark_email_read
      </span>
    <% end %>
  <% end %>

  <% if policy(:pages).assistant? %>
    <%= link_to pages_assistant_path, class: "text-primary hover-active hover:shadow #{'active shadow' if params[:controller] == 'pages'}", title: 'Assistant TALEA' do %>
      <% image_tag "ai.png", width: "25px" %>
    <% end %>
  <% end %>

  <%= link_to destroy_user_session_path, 'data-turbo-method': :delete, data: {turbo_confirm: "Êtes-vous certain(e) de vouloir fermer cette session TALEA ?" }, title: "Fermer la session de #{current_user.email} (#{current_user.rôle})", class: 'text-primary hover-active hover:shadow' do %>
    <span class="material-symbols-outlined">
      logout
    </span>
  <% end %> 
</div>