<div class="btm-nav">
  <%= link_to interventions_path, class: "text-primary #{'active shadow' if params[:controller] == 'interventions'}", title: "Liste des interventions" do %>
    <span class="material-symbols-outlined">
      home
    </span>
  <% end %>

  <% if policy(User).index? %>
    <%= link_to users_path, class: "text-primary #{'active shadow' if params[:controller] == 'users'}", title: "Liste des utilisateurs" do %>
      <span class="material-symbols-outlined">
        group
      </span>
    <% end %>
  <% end %>

  <% if policy(MailLog).index? %>
    <%= link_to mail_logs_path, class: "text-primary #{'active shadow' if params[:controller] == 'mail_logs'}", title: "MailLog (historique des envois d'email)" do %>
      <span class="material-symbols-outlined">
        mark_email_read
      </span>
    <% end %>
  <% end %>

  <%= link_to admin_audits_path, class: "text-primary #{'active shadow' if params[:controller] == 'admin'}", title: 'Activité (historique des modifications)' do %>
    <span class="material-symbols-outlined">
      history
    </span>
  <% end %>

  <%= link_to destroy_user_session_path, 'data-turbo-method': :delete, data: {turbo_confirm: "Êtes-vous certain(e) de vouloir fermer cette session ?" }, title: "Fermer la session de #{current_user.email} (#{current_user.rôle})", class: 'text-primary p-1.5' do %>
    <span class="material-symbols-outlined">
      logout
    </span>
  <% end %> 
</div>