<div id="<%= dom_id user %>">
  <p class="text-2xl font-black text-primary"><%= link_to user.nom_prénom, user, class: 'hover:underline hover:text-base-content' %></p>
  <span class="text-success"><%= user.rôle.humanize %> <%= user.service.try(:humanize) %> </span>

  <% if action_name != "show" %>
    <hr class="my-1">
  <% else %>
    <p class="my-4"><%= user.email %></p>

    <% if user.agent? %>
      <p class="my-4">Moyenne évaluation : <%= user.moyenne %></p>
    <% end %>
  <% end %>
</div>
