<tr id="<%= dom_id user %>" class="hover">
  <td class="text-2xl font-black">
    <%= user.avatar %>
    <%= link_to user.nom_prénom, user, class: 'hover:underline hover:text-base-content' %>
  </td>
  <td><%= user.rôle.upcase %> <%= "(#{user.service.humanize})" if user.service %> </td>
  <td><%= user.email %></td>
  <td><%= user.moyenne %></td>
</tr>
