<div id="<%= dom_id user %>">
  <p class="text-2xl font-black text-primary"><%= link_to user.nom_prénom, user, class: 'hover:underline hover:text-base-content' %></p>
  <span class="text-success"><%= user.rôle.humanize %> <%= user.service.try(:humanize) %> </span>

  <% if action_name != "show" %>
    <hr class="my-1">
  <% else %>
    <% if user.agent? %>
      <p class="my-4">Évaluation : <b><%= user.moyenne %></b></p>
    <% end %>

    <p class="my-4">Email : <b><%= user.email %></b></p>
  <% end %>
</div>
