<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to "New user", new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap items-end gap-4">
      <div class="max-w-48">
        <%= label_tag :search, "Rechercher" %>
        <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full', placeholder: 'Nom/Prénom/Email' %>
      </div>

      <div class="max-w-72 w-full">
        <%= label_tag :rôle %>
        <%= select_tag :rôle, 
        options_for_select(User.rôles, 
        params[:rôle]), 
        include_blank:true,
        class: 'select select-bordered select-sm w-full', 
        onchange: 'this.form.submit()' 
        %>    
      </div>


    </div>
  <% end %>

  <div class="divider"></div>

  <div id="users" class="min-w-full">
    <%= render @users %>
  </div>
</div>
