<div class="mx-auto md:w-2/3 w-full">
  <p class="text-4xl font-black text-primary mt-8 mb-4">
    <%= @user.avatar %>
    <%= @user.nom_prénom %>
  </p>
  <div class="flex flex-wrap gap-24">
    <div>
      <span class="text-success text-xl"><%= @user.rôle.humanize %> <%= @user.service.try(:humanize) %> </span>

      <p class="my-4">
        <b><%= @user.email %></b>
      </p>
    </div>

    <% if @user.agent? %>
      <div>
        <strong class="block text-slate-400 mb-1">Évaluation</strong>
        <div class="flex justify-between w-32">
          <b><%= @user.moyenne %></b>
          <%= pluralize(@user.total_rating, "note") %>
        </div>
        <div class="flex flex-col-reverse">
          <% (1..5).each do |i| %>
            <div class="flex items-center">
              <div class="rating w-36">
                <% i.times do %>
                  <input type="radio" name="rating-<%= i %>" class="mask mask-star bg-yellow-400" disabled="true" />
                <% end %>
              </div>
              <progress class="progress progress-secondary w-56" value="<%= @user.star_count(i) %>" max="100"></progress>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-wrap gap-2 mt-2">
    <%= link_to "Modifier", edit_user_path(@user), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to user_path(@user), method: :delete, data: {turbo_confirm: "Êtes-vous certain(e) de vouloir supprimer cet utilisateur ?" }, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" do %>
      <span class="material-symbols-outlined">
        delete
      </span>
    <% end %>
    <%= link_to "Retour", users_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <h2 class="text-2xl text-secondary mt-8">Activité</h2>
  <div class="overflow-x-auto mt-4">
    <table class="table table-sm">
      <thead class="bg-slate-100">
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Id</th>
          <th>Action</th>
          <th>Modifications</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'audit', collection: @audits %>
      </tbody>
    </table>
  </div>
</div>
