<%= form_with(model: intervention, class: "contents") do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(intervention.errors.count, "error") %> empêche(nt) cette intervention d'être sauvegardée :</h2>

      <ul>
        <% intervention.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:terminé].blank? %>
    <div class="flex flex-wrap gap-5 sm:gap-8 mb-5">
      <div class="w-full sm:flex-1">
        <%= form.label :description %>
        <%= form.text_field :description, class: "input input-bordered input-sm w-full", required: :true %>
      </div>

      <% if current_user.manager? %>
        <div class="w-full sm:flex-1">
          <%= form.label :tags_manager, "Tags", style: "display: block" %>
          <%= form.select :tags_manager, options_from_collection_for_select(@tags, :name, :name, intervention.tags.map(&:name)), multiple: true, class: 'w-full' %>
        </div>
      <% else %>
        <div class="w-full sm:flex-1">
          <%= form.label :tags, style: "display: block" %>
          <%= form.select :tags, options_from_collection_for_select(@tags, :name, :name, intervention.tags.map(&:name)), multiple: true, class: 'w-full' %>
        </div>
      <% end %>
    </div>

    <div data-controller="calc-temps-passe">
      <div class="flex flex-wrap gap-5 sm:gap-8 my-5">
        <div class="w-full sm:flex-1">
          <%= form.label :adherent_id, "Adhérent" %>
          <%= form.select :adherent_id, options_from_collection_for_select(@organisation_members.adhérent, :id, :nom_prénom, intervention.adherent_id), {include_blank: true, required: true}, class: "w-full" %>
        </div>

        <% if current_user.manager? %>
          <div class="w-full sm:flex-1">
            <%= form.label :user_id, "Équipe" %>
            <%= form.select :user_id, options_from_collection_for_select(@équipes, 'id', 'nom_prénom', intervention.user_id), {include_blank: true, required: true}, class: "w-full" %>
          </div>
        <% end %>

        <div class="w-full sm:flex-1">
          <%= form.label :agent_id, "Agent 1" %>
          <%= form.select :agent_id, grouped_options_for_select(@grouped_agents, intervention.agent_id), {include_blank: true}, class: "w-full" %>
        </div>

        <div class="w-full sm:flex-1">
          <%= form.label :agent_binome_id, "Agent 2" %>
          <%= form.select :agent_binome_id, grouped_options_for_select(@grouped_agents, intervention.agent_binome_id),
                          { include_blank: true }, class: "w-full",
                          data: { 'calc-temps-passe-target': 'agent2', action: "change->calc-temps-passe#calc" } %>
        </div>
      </div>

      <div class="flex flex-wrap gap-5 sm:gap-8 my-5 items-end">
        <div class="w-full sm:flex-1">
          <%= form.label :début %>
          <%= form.datetime_field :début, class: "input input-bordered input-sm w-full",
                                  data: { 'calc-temps-passe-target': 'debut', action: "change->calc-temps-passe#calc" } %>
        </div>

        <div class="w-full sm:flex-1">
          <%= form.label :fin %>
          <%= form.datetime_field :fin, class: "input input-bordered input-sm w-full",
                                  data: { 'calc-temps-passe-target': 'fin', action: "change->calc-temps-passe#calc" } %>
        </div>

        <div class="w-full sm:flex-1">
          <%= form.label :temps_de_pause, "Temps de pause (h)" %>
          <%= form.select :temps_de_pause, options_for_select([0.0, 0.5, 1.0], intervention.temps_de_pause),
                          {}, class: "input input-bordered input-sm w-full",
                          data: { 'calc-temps-passe-target': 'pause', action: "change->calc-temps-passe#calc" } %>
        </div>

        <div class="w-full sm:flex-1">
          <%= form.label :temps_total %>
          <%= form.number_field :temps_total,
                                readonly: true, class: 'input input-bordered input-sm w-full font-black',
                                data: { 'calc-temps-passe-target': 'temps' }  %>
        </div>
      </div>
    </div>

    <% @intervention.photos.each do |photo| %>
      <%= form.hidden_field :photos, multiple: true, value: photo.signed_id %>
    <% end %>

    <div class="sm:flex flex-wrap gap-8 my-5 items-end">
      <div class="flex-1">
        <%= form.label :photos, 'Photos : ' %>
        <%= form.file_field :photos, multiple: true, accept: 'image/png,image/gif,image/jpeg', class: 'file-input file-input-sm file-input-bordered file-input-success w-full max-w-md' %>
      </div>
    </div>

    <div class="my-5">
      <%= form.label :commentaires %>
      <%= form.text_area :commentaires, class: "textarea textarea-bordered textarea-sm w-full", 'data-controller': 'textarea-autogrow' %>
    </div>


    <% if !current_user.adhérent? %>
      <div class="flex items-center gap-2 my-5">
        <%= form.label :workflow_state, 'Statut :' %>
        <%= form.select :workflow_state, Intervention.workflow_spec.states.keys.to_a, {}, class: "flex-1 sm:flex-none select select-bordered select-sm" %>
      </div>
    <% end %>
  <% end %>

  <% if intervention.persisted? && (current_user.adhérent? || current_user.manager?) %>
    <% if params[:terminé] %>
      <p class="mb-8">
        Statut :
        <span class="badge badge-lg text-nowrap font-bold <%= intervention.style %>">
          <%= intervention.workflow_state.humanize %>
        </span>
      </p>
    <% end %>
    <div class="flex gap-4 mb-4">
      <div class="flex flex-col">
        <%= form.label :note, 'Évaluation', class: "mb-4" %>
        <div class="rating">
          <% if intervention.note.zero? %>
            <%= form.radio_button :note, 0, class:"rating-hidden", style: "background-color: transparent; border: none; --tw-ring-shadow: none;" %>
          <% end %>
          <% 1.upto(5) do |i| %>
            <%= form.radio_button :note, i, class:"mask mask-star bg-yellow-400" %>
          <% end %> 
        </div>
      </div>

      <div class="flex-1">
        <%= form.label :avis %>
        <%= form.text_area :avis, class: "textarea textarea-bordered textarea-sm w-full", 'data-controller': 'textarea-autogrow' %>
      </div>
    </div>

  <% end %>

  <div class="flex flex-wrap gap-2">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% if params[:action] == 'edit' %>
      <%= link_to "Voir", @intervention, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <%= link_to "Annuler", interventions_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>

<script>
  // slimselect
  new SlimSelect({
    select: '#intervention_tags',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un ou plusieurs tags',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#intervention_tags_manager',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un ou plusieurs tags',
      allowDeselect: true,
    },
    events: {
      addable: function (value) {
        return value
      }
    }
  })

  new SlimSelect({
    select: '#intervention_agent_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un agent',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#intervention_agent_binome_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un agent',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#intervention_adherent_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un adhérent',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#intervention_user_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez une équipe',
      allowDeselect: true,
    }
  })
</script>