<%= form_with(model: intervention, class: "contents") do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
        <% intervention.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: :true %>
  </div>

  <div class="my-5">
    <%= form.label :tag_list, "Tags", style: "display: block" %>
    <%= form.text_field :tag_list, value: intervention.tag_list.join(', '), class: 'input input-bordered input-sm w-full' %>
  </div>

  <div class="my-5">
    <%= form.label :adherent_id, "Adhérent" %>
    <%= form.select :adherent_id, options_from_collection_for_select(@adhérents, :id, :nom_prénom), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex gap-8">
    <div class="flex-1 my-5">
      <%= form.label :agent_id %>
      <%= form.select :agent_id, options_from_collection_for_select(@agents, :id, :nom_prénom), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-1 my-5">
      <%= form.label :agent_binome_id, "Agent binôme" %>
      <%= form.select :agent_binome_id, options_from_collection_for_select(@agents, :id, :nom_prénom), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex gap-8">
    <div class="flex-1 my-5">
      <%= form.label :début %>
      <%= form.datetime_field :début, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-1 my-5">
      <%= form.label :fin %>
      <%= form.datetime_field :fin, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :temps_de_pause %>
    <%= form.number_field :temps_de_pause, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  // slimselect
  new SlimSelect({
    select: '#intervention_agent_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un agent',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#intervention_agent_binome_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un agent',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#intervention_adherent_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un adhérent',
      allowDeselect: true,
    }
  })
</script>