<div id="<%= dom_id intervention %>">

  <small>
    Il y a <%= time_ago_in_words intervention.updated_at %>
  </small>
  <p class="text-3xl text-primary font-black">
    <%= link_to intervention.description, intervention %>
  </p>

  <div class="flex gap-8">
    <div>
      <p class="my-5">
        <% intervention.tags.each do |tag| %>
          <span class="badge badge-success text-white"><%= tag.name.humanize %></span>
        <% end %>
      </p>

      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Adhérent</strong>
        <%= intervention.adherent.try(:nom_prénom) %>
      </p>
    </div>

    <div>
      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Agent</strong>
        <%= intervention.agent.try(:nom_prénom) %>
      </p>

      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Binôme</strong>
        <%= intervention.agent_binome.try(:nom_prénom) %>
      </p>
    </div>

    <div>
      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Début</strong>
        <%= l intervention.début if intervention.début %>
      </p>

      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Fin</strong>
        <%= l intervention.fin if intervention.fin%>
      </p>
    </div>

    <div>
      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Temps total (h)</strong>
        <%= intervention.temps_total %>
      </p>

      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Pause (h)</strong>
        <%= intervention.temps_de_pause %>
      </p>
    </div>

    <div>
      <p class="my-5">
        <strong class="block text-slate-400 mb-1">Statut</strong>
        <span class="badge badge-lg text-nowrap <%= intervention.style %>">
          <%= intervention.workflow_state.humanize %>
        </span>
      </p>
    </div>

    <p class="my-5">
      <strong class="block text-slate-400 mb-1">Commentaires</strong>
      <%= intervention.commentaires %>
    </p>
  </div>

  <hr>

  <% if action_name == "show" %>
    <div class="my-5">
      Actions : 
      <p>
        |
        <%= link_to_if intervention.can_accepter?, 'Accepter', accepter_intervention_path(intervention), class: 'btn btn-sm btn-primary text-white' %> |
        <%= link_to_if intervention.can_en_cours?, 'Commencer', en_cours_intervention_path(intervention), class: 'btn btn-sm btn-warning text-white' %> |
        <%= link_to_if intervention.can_realiser?, 'Réaliser', realiser_intervention_path(intervention), class: 'btn btn-sm btn-error text-white' %> |
        <%= link_to_if intervention.can_valider?, 'Valider', valider_intervention_path(intervention), class: 'btn btn-sm btn-success text-white' %> |
        <%= link_to_if intervention.can_archiver?, 'Archiver', archiver_intervention_path(intervention), class: 'btn btn-sm btn-ghost' %> |
      </p>
    </div>

    <hr>

    <p class="mt-5">
      <span class="text-slate-400 mb-1">Créée le :</span>
      <%= l intervention.created_at %>
      (il y a <%= time_ago_in_words intervention.created_at %>)
    </p>
    <p class="mb-5">
      <span class="text-slate-400 mb-1">Modifiée le :</span>
      <%= l intervention.updated_at %>
      (il y a <%= time_ago_in_words intervention.updated_at %>)
    </p>
  <% end %>

</div>



