<div id="<%= dom_id intervention %>">

  <small>
    <i>il y a <%= time_ago_in_words intervention.updated_at %></i>
  </small>

  <p class="text-3xl text-primary font-black">
    <%= link_to intervention.description, intervention %>
  </p>

  <p class="mb-2">
    <% intervention.tags.each do |tag| %>
      <span class="badge "><%= tag.name.humanize %></span>
    <% end %>
  </p>

  <div class="sm:flex sm:gap-4 overflow-x-auto">
    <div class="sm:flex gap-8 sm:w-3/5">
      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Adhérent</strong>
          <%= intervention.adherent.try(:nom_prénom) %>
        </p>
      </div>

      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Agent</strong>
          <%= intervention.agent.try(:nom_prénom) %>
        </p>

        <p class="my-5">
          <strong class="block text-slate-400 mb-1">Binôme</strong>
          <%= intervention.agent_binome.try(:nom_prénom) %>
        </p>
      </div>

      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Début</strong>
          <%= l intervention.début if intervention.début %>
        </p>

        <p class="my-5">
          <strong class="block text-slate-400 mb-1">Fin</strong>
          <%= l intervention.fin if intervention.fin%>
        </p>
      </div>

      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Temps_total</strong>
          <%= intervention.temps_total %> h
        </p>

        <p class="my-5">
          <strong class="block text-slate-400 mb-1">Pause</strong>
          <%= intervention.temps_de_pause %> h
        </p>
      </div>

      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Statut</strong>
          <span class="badge badge-lg text-nowrap font-bold <%= intervention.style %>">
            <%= intervention.workflow_state.humanize %>
          </span>
        </p>
      </div>
    </div>

    <div class="sm:flex gap-8 sm:w-2/5">
      <div class="avatar placeholder">
        <div class="bg-slate-300 text-neutral-content h-32">
          <span class="text-xl">Photo</span>
        </div>
      </div> 


      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Commentaires</strong>
          <%= intervention.commentaires %>
        </p>

        <div class="rating rating-xs">
          <input type="radio" name="rating-1" class="mask mask-star" />
          <input type="radio" name="rating-1" class="mask mask-star" checked />
          <input type="radio" name="rating-1" class="mask mask-star" />
          <input type="radio" name="rating-1" class="mask mask-star" />
          <input type="radio" name="rating-1" class="mask mask-star" />
        </div>

      </div>
    </div>

  </div>

  <div class="divider"></div>

  <% if action_name == "show" %>
    <div class="mt-2 mb-5">
      <strong class="block text-slate-400 mb-1">Actions</strong>
      <p>
        <%= link_to_if intervention.can_accepter?, 'Accepter', accepter_intervention_path(intervention), class: 'btn btn-sm btn-primary text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_en_cours?, 'Commencer', en_cours_intervention_path(intervention), class: 'btn btn-sm btn-warning text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_terminer?, 'Terminer', terminer_intervention_path(intervention), class: 'btn btn-sm btn-accent', 'data-turbo': false %> |
        <%= link_to_if intervention.can_valider?,  'Valider', valider_intervention_path(intervention), class: 'btn btn-sm btn-success text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_refuser?,  'Refuser', refuser_intervention_path(intervention), class: 'btn btn-sm btn-error text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_archiver?, 'Archiver', archiver_intervention_path(intervention), class: 'btn btn-sm btn-secondary text-white', 'data-turbo': false %> 
      </p>
    </div>
  <% end %>

</div>



