<div id="<%= dom_id intervention %>">

  <small>
    <i>il y a <%= time_ago_in_words intervention.updated_at %></i>
  </small>

  <p class="text-4xl text-<%= intervention.style.split.first.split('-').last %> font-black">
    <%= link_to intervention.description.humanize, intervention, class: 'hover:underline hover:text-base-content' %>
  </p>

  <p class="my-2">
    <% intervention.tags.each do |tag| %>
      <span class="badge badge-primary badge-outline text-white"><%= tag.name.humanize %></span>
    <% end %>
  </p>

  <div class="sm:flex sm:gap-4 overflow-x-auto">
    <div class="sm:flex gap-8 sm:w-3/5">
      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Statut</strong>
          <span class="badge badge-lg text-nowrap font-bold <%= intervention.style %>">
            <%= intervention.workflow_state.humanize %>
          </span>
        </p>
      </div>

      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Adhérent</strong>
          <b><%= intervention.adherent.try(:nom_prénom) %></b>
        </p>
      </div>

      <div>
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Agent</strong>
          <b><%= intervention.agent.try(:nom_prénom) %></b>
        </p>

        <p class="<%= (params[:action] == "index") ? 'hidden sm:block' : 'my-2' %>">
          <strong class="block text-slate-400 mb-1">Binôme</strong>
          <%= intervention.agent_binome.try(:nom_prénom) %>
        </p>
      </div>

      <div class="<%= (params[:action] == "index") ? 'hidden sm:block' : '' %>">
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Début</strong>
          <%= l(intervention.début, format: :long) if intervention.début %>
        </p>

        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Fin</strong>
          <%= l(intervention.fin, format: :long) if intervention.fin%>
        </p>
      </div>

      <div class="<%= (params[:action] == "index") ? 'hidden sm:block' : '' %>">
        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Temps passé</strong>
          <%= intervention.temps_total %> h
        </p>

        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Pause</strong>
          <%= intervention.temps_de_pause %> h
        </p>
      </div>
    </div>

    <div class="<%= (params[:action] == "index") ? 'hidden sm:block' : 'sm:flex gap-8 sm:w-2/5' %>">
      <div>
        <% if intervention.photos.attached? %>
          <% if intervention.photos.count > 1 %>
            <button onclick="my_modal_<%= intervention.id %>.showModal()">
              <div class="stack w-36">
                <% intervention.photos.limit(3).each do |photo| %>
                  <div class="avatar">
                    <div class="w-36 rounded">
                      <%= image_tag photo, loading: 'lazy' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </button>
          <% else %>
            <div class="avatar">
              <div class="w-36 rounded">
                <%= link_to image_tag(intervention.photos.last, loading: 'lazy'), intervention.photos.last, target: "_blank" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="<%= (params[:action] == "index") ? 'hidden sm:block' : '' %>">
        <div class="rating rating-xs">
          <p class="my-2">
            <strong class="block text-slate-400 mb-1">Evaluation</strong>
            <input type="radio" name="rating-<%= intervention.id %>" class="rating-hidden" <%= "checked" if intervention.note.zero? %> disabled style="background-color: transparent; border: none; --tw-ring-shadow: none;" />
            <% 5.times do |index| %>
              <input type="radio" name="rating-<%= intervention.id %>" class="mask mask-star bg-yellow-400" <%= "checked" if intervention.note == index + 1 %> disabled/>
            <% end %>
          </p>
        </div>

        <p class="my-2">
          <strong class="block text-slate-400 mb-1">Commentaires</strong>
          <%= intervention.commentaires %>
        </p>


      </div>
    </div>

  </div>

  <div class="divider"></div>

  <% if action_name == "show" %>
    <div class="mt-2 mb-5">
      <strong class="block text-slate-400 mb-1">Changer le Statut de l'intervention</strong>
      <p class="hidden sm:block">
        <%= link_to_if intervention.can_accepter?, 'Accepter', accepter_intervention_path(intervention), class: 'btn btn-sm btn-primary text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_en_cours?, 'Commencer', en_cours_intervention_path(intervention), class: 'btn btn-sm btn-warning text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_terminer?, 'Terminer', terminer_intervention_path(intervention), class: 'btn btn-sm btn-accent', 'data-turbo': false %> |
        <%= link_to_if intervention.can_valider?,  'Valider', valider_intervention_path(intervention), class: 'btn btn-sm btn-success text-white', 'data-turbo': false %> |
        <%= link_to_if intervention.can_refuser?,  'Refuser', refuser_intervention_path(intervention), class: 'btn btn-sm btn-error text-white', 'data-turbo': false %>
        <%# <%= link_to_if intervention.can_archiver?, 'Archiver', archiver_intervention_path(intervention), class: 'btn btn-sm btn-secondary text-white', 'data-turbo': false %>
      </p>

      <p class="sm:hidden">
        <% if intervention.can_accepter? %>
          <%= link_to 'Accepter', accepter_intervention_path(intervention), class: 'btn btn-primary text-white', 'data-turbo': false %>
        <% end %>
        <% if intervention.can_en_cours? %>
          <%= link_to 'Commencer', en_cours_intervention_path(intervention), class: 'btn btn-warning text-white', 'data-turbo': false %>
        <% end %>
        <% if intervention.can_terminer? %>
          <%= link_to 'Terminer', terminer_intervention_path(intervention), class: 'btn btn-accent', 'data-turbo': false %>
        <% end %>
        <% if intervention.can_valider? %>
          <%= link_to 'Valider', valider_intervention_path(intervention), class: 'btn btn-success text-white', 'data-turbo': false %>
        <% end %>
        <% if intervention.can_refuser? %>
          <%= link_to 'Refuser', refuser_intervention_path(intervention), class: 'btn btn-error text-white', 'data-turbo': false %>
        <% end %>
      </p>
    </div>

    <div class="divider"></div>
  <% end %>

  <dialog id="my_modal_<%= intervention.id %>" class="modal w-full mx-auto my-auto mx-24">
    <div class="flex justify-end">
      <button onclick="my_modal_<%= intervention.id %>.close()">
        <span class="material-symbols-outlined text-5xl text-white font-black">
          cancel
        </span>      
      </button>
    </div>
    <div class="carousel">
      <% intervention.photos.each do |photo| %>
        <div class="carousel-item">
          <%= image_tag(photo, class: "h-96", loading: 'lazy') %>
        </div>
      <% end %>
    </div>
  </dialog>

</div>



