<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-wrap justify-between items-center">
    <h1 class="font-bold text-4xl">Interventions</h1>
    <%= link_to "Nouvelle Intervention", new_intervention_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap items-end gap-4 mt-8">
      <div class="w-full sm:max-w-48">
        <%= label_tag :search, "Rechercher" %>
        <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full', placeholder: 'Description' %>
      </div>

      <div class="flex gap-4 w-full md:w-2/3 lg:w-1/4">
        <div class="flex-1">
          <%= label_tag :du, 'Du' %>
          <%= date_field_tag :du, params[:du], onchange: 'this.form.submit()', class: 'input input-bordered input-sm w-full' %>
        </div>

        <div class="flex-1">
          <%= label_tag :au, 'Au' %>
          <%= date_field_tag :au, params[:au], onchange: 'this.form.submit()', class: 'input input-bordered input-sm w-full' %>
        </div>
      </div>

      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/12">
        <%= label_tag :workflow_state, "Statut" %>
        <%= select_tag :workflow_state, 
                            options_for_select(Intervention.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                            include_blank: true,
                            class: 'select select-bordered select-sm w-full', 
                            onchange: 'this.form.submit()' %>
      </div>

      <div class="w-full sm:max-w-72">
        <%= label_tag :adherent_id, "Adhérent" %>
        <%= select_tag :adherent_id, options_from_collection_for_select(@adhérents, :id, :nom_prénom, params[:adherent_id]), include_blank: true, onchange: 'this.form.submit()' %>
      </div>

      <div class="w-full sm:max-w-72">
        <%= label_tag :agent_id, "Agent" %>
        <%= select_tag :agent_id, options_from_collection_for_select(@agents, :id, :nom_prénom, params[:agent_id]), include_blank: true, onchange: 'this.form.submit()' %>
      </div>

      <div class="flex flex-wrap gap-1">
        <%= render TagCloudComponent.new(tags: @tags) %>
      </div>
    </div>
  <% end %>

  <div class="divider"></div>

  <div id="interventions" class="min-w-full">
    <%= render @interventions %>
  </div>

  <p class="mt-8">
    Affichage de <%= pluralize(@interventions.count, 'intervention', plural: 'interventions') %> sur <%= @interventions_count %>
  </p>
  <p>
    Statuts : <%= JSON.pretty_generate(Intervention.workflow_states_count(@interventions)) %>
  </p>
  <p>
    Somme de Temps total : <%= @interventions.sum(:temps_total) %> h.
  </p>

</div>

<script>
  // slimselect
  new SlimSelect({
    select: '#adherent_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un adhérent',
      allowDeselect: true,
    }
  })

  new SlimSelect({
    select: '#agent_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un agent',
      allowDeselect: true,
    }
  })
</script>
