<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto mt-8">
    <%= render @intervention %>

    <div class="flex flex-wrap gap-2">
      <%= link_to "Modifier cette intervention", edit_intervention_path(@intervention), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <% if policy(@intervention).destroy? %>
        <%= button_to "Détruire cette intervention", intervention_path(@intervention), method: :delete, data: {turbo_confirm: "Êtes-vous certain(e) de vouloir supprimer cette intervention ?" }, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      <% end %>
      <%= link_to "Retour vers toutes les interventions", interventions_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>

    <h2 class="text-2xl mt-8">Photos</h2>
    <% if @intervention.photos.attached? %>
      <div class="flex flex-wrap gap-8">
        <% @intervention.photos.each do |photo| %>
          <div class="flex items-end gap-2">
            <div class="avatar">
              <div class="w-16 rounded hover:shadow-xl">
                <%= link_to image_tag(photo, loading: 'lazy'), photo, target: "_blank"  %>
              </div>
            </div>
            <%= button_to purge_intervention_path(photo_id: photo.id), method: :delete, form: { data: {'turbo-confirm': "Êtes-vous bien certain.e de vouloir supprimer définitivement cette photo ?"} }, class: 'text-base-300 hover:text-error' do %>
              <span class="material-symbols-outlined">
                delete
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4">Aucune photo n'est attachée à cette intervention.</p>
    <% end %>

    <h2 class="text-2xl mt-8">Audits</h2>
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="bg-slate-100">
          <tr>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Action</th>
            <th>Modifications</th>
          </tr>
        </thead>

        <%= render partial: 'partials/audit', collection: @intervention.audits.includes(:user).reorder(id: :desc) %>
      </table>
    </div>
  </div>

</div>
