<!DOCTYPE html>
<html lang="fr" data-theme="corporate">
  <head>
    <title>Talea</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <main class="container mx-auto py-8 px-4 md:px-12 pb-24 bg-slate-50">
      <%= render 'partials/notification' %>
      <%= yield %>
    </main>

    <% if user_signed_in? %>
      <%= render 'partials/navbar' %>
    <% end %>

  </body>
</html>
