<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>TALEA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body class="bg-slate-50">
    <main class="container min-h-screen mx-auto py-8 px-4 pb-24">
      <%= render 'partials/notification' %>
    <div class="hidden badge-success badge-info badge-secondary badge-error badge-ghost badge-warning">zefzef</div>
      <%= yield %>
    </main>

    <% if user_signed_in? %>
      <%= render 'partials/navbar' %>
    <% end %>

  </body>
</html>
